@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Roboto:wght@400;700&display=swap");

* {
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.692);
}
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background: rgba(0, 0, 0, 0.692);
    gap: 20px;
    align-items: center;
    width: 100%;
    box-shadow: 0 0.5rem 1rem  rgba(221, 221, 221, 0.1);
}
.header-image {
    max-width: 40px;
}
.navbar {
    display: flex;
    gap: 20px;
    margin-left: 75%;
}
video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -2;
}
.first-box {
   border: 4px solid rgb(235, 233, 236);
   height: 320px;
   width: 800px;
   margin-top: 150px;
   margin-left: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.692);
   border-radius: 6.28px;
   padding: 40px;
   flex-direction: column;
   padding-bottom: 10%;
   }
.mophi-guardian {
    max-width: 250px;
    border-radius: 6.28px;
}
.steam-button {
    border: 2px solid white;
    border-radius: 6.28px;
    padding: 10px;
    margin-top: 5%;
    background-image: linear-gradient(#181c25, rgb(28, 65, 82));
    transition: transform 0.3s ease 0s;
}
.steam-button:hover {
    transform: translateY(-10px);
    cursor: pointer;
    text-shadow: 0 0 10px #01ffdd; 
}
.text-container {
    margin-top: 20%;
    padding-bottom: 10%;
}
h3 {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a:hover { 
    text-shadow: 0 0 10px #01ffdd; 
}